## Importation

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [3]:
#import dataset
data = pd.read_excel("Data/SHG_Booking_Data.xlsx")

In [4]:
data.shape

(119390, 17)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Booking ID            119390 non-null  int64
 1   Hotel                 119390 non-null  object
 2   Booking Date          119390 non-null  datetime64[ns]
 3   Arrival Date          119390 non-null  datetime64[ns]
 4   Lead Time             119390 non-null  int64
 5   Nights                119390 non-null  int64
 6   Guests                119390 non-null  int64
 7   Distribution Channel  119390 non-null  object
 8   Customer Type         119390 non-null  object
 9   Country               118902 non-null  object
 10  Deposit Type          119390 non-null  object
 11  Avg Daily Rate        119390 non-null  float64
 12  Status                119390 non-null  object
 13  Status Update         119390 non-null  datetime64[ns]
 14  Cancelled (0/1)       119390 non-null  int64
 15  Revenue               119390 non-null  float64
 16  Revenue Loss          119390 non-null  float64
dtypes: datetime64[ns](3), float64(3), int64(5), object(6)
memory usage: 15.5+ MB

In [6]:
data.describe()

,Booking ID,Booking Date,Arrival Date,Lead Time,Nights,Guests,Avg Daily Rate,Status Update,Cancelled (0/1),Revenue,Revenue Loss
count,119390.000000,119390,119390,119390.000000,119390.000000,119390.000000,119390.000000,119390,119390.000000,119390.000000,119390.000000
mean,59695.500000,2016-05-16 16:23:19.353379840,2016-08-28 16:39:45.727447808,104.011416,3.427900,1.968239,101.831122,2016-07-30 00:24:47.883407104,0.370416,247.931966,-109.916242
min,1.000000,2013-06-24 00:00:00,2015-07-01 00:00:00,0.000000,0.000000,0.000000,-6.380000,2014-10-17 00:00:00,0.000000,-63.800000,-6300.000000
25%,29848.250000,2015-11-28 00:00:00,2016-03-13 00:00:00,18.000000,2.000000,2.000000,69.290000,2016-02-01 00:00:00,0.000000,0.000000,0.000000
50%,59695.500000,2016-05-04 00:00:00,2016-09-06 00:00:00,69.000000,3.000000,2.000000,94.575000,2016-08-07 00:00:00,0.000000,176.000000,0.000000
75%,89542.750000,2016-12-09 00:00:00,2017-03-18 00:00:00,160.000000,4.000000,2.000000,126.000000,2017-02-08 00:00:00,1.000000,342.977500,0.000000
max,119390.000000,2017-08-31 00:00:00,2017-08-31 00:00:00,737.000000,69.000000,55.000000,5400.000000,2017-09-14 00:00:00,1.000000,7590.000000,0.000000
std,34465.068657,NaN,NaN,106.863097,2.557439,0.722394,50.535790,NaN,0.482918,300.921393,277.102641

In [7]:
data.head()

,Booking ID,Hotel,Booking Date,Arrival Date,Lead Time,Nights,Guests,Distribution Channel,Customer Type,Country,Deposit Type,Avg Daily Rate,Status,Status Update,Cancelled (0/1),Revenue,Revenue Loss
0,1,Resort,2014-07-24,2015-07-01,342,0,2,Direct,Transient,Portugal,No Deposit,0.0,Check-Out,2015-07-01,0,0.0,0.0
1,2,Resort,2013-06-24,2015-07-01,737,0,2,Direct,Transient,Portugal,No Deposit,0.0,Check-Out,2015-07-01,0,0.0,0.0
2,3,Resort,2015-06-24,2015-07-01,7,1,1,Direct,Transient,United Kingdom,No Deposit,75.0,Check-Out,2015-07-02,0,75.0,0.0
3,4,Resort,2015-06-18,2015-07-01,13,1,1,Corporate,Transient,United Kingdom,No Deposit,75.0,Check-Out,2015-07-02,0,75.0,0.0
4,5,Resort,2015-06-17,2015-07-01,14,2,2,Online Travel Agent,Transient,United Kingdom,No Deposit,98.0,Check-Out,2015-07-03,0,196.0,0.0

In [8]:
data.isnull().sum()

Booking ID                0
Hotel                     0
Booking Date              0
Arrival Date              0
Lead Time                 0
Nights                    0
Guests                    0
Distribution Channel      0
Customer Type             0
Country                 488
Deposit Type              0
Avg Daily Rate            0
Status                    0
Status Update             0
Cancelled (0/1)           0
Revenue                   0
Revenue Loss              0
dtype: int64

In [9]:
data["Customer Type"].unique()

array(['Transient', 'Contract', 'Transient-Party', 'Group'], dtype=object)

In [10]:
data["Deposit Type"].unique()

array(['No Deposit', 'Refundable', 'Non Refundable'], dtype=object)

In [11]:
data["Status"].unique()

array(['Check-Out', 'Canceled', 'No-Show'], dtype=object)

In [12]:
object_columns = data.select_dtypes(include=['object']).columns

# Display unique values for each object column
for column in object_columns:
    unique_values = data[column].unique()
    print(f"Unique values for column '{column}': {unique_values}")

Unique values for column 'Hotel': ['Resort' 'City']
Unique values for column 'Distribution Channel': ['Direct' 'Corporate' 'Online Travel Agent' 'Offline Travel Agent'
 'Undefined']
Unique values for column 'Customer Type': ['Transient' 'Contract' 'Transient-Party' 'Group']
Unique values for column 'Country': ['Portugal' 'United Kingdom' 'United States' 'Spain' 'Ireland' 'France'
 nan 'Romania' 'Norway' 'Oman' 'Argentina' 'Poland' 'Germany' 'Belgium'
 'Switzerland' 'China' 'Greece' 'Italy' 'Netherlands' 'Denmark'
 'Russian Federation' 'Sweden' 'Australia' 'Estonia' 'Czech Republic'
 'Brazil' 'Finland' 'Mozambique' 'Botswana' 'Luxembourg' 'Slovenia'
 'Albania' 'India' 'Mexico' 'Morocco' 'Ukraine' 'San Marino' 'Latvia'
 'Puerto Rico' 'Serbia' 'Chile' 'Austria' 'Belarus' 'Lithuania' 'Turkey'
 'South Africa' 'Angola' 'Israel' 'Cayman Islands' 'Zambia' 'Cape Verde'
 'Zimbabwe' 'Algeria' 'Republic of Korea' 'Costa Rica' 'Hungary'
 'United Arab Emirates' 'Tunisia' 'Jamaica' 'Croatia' 'Hong Kong' 'Iran'
 'Georgia' 'Andorra' 'Gibraltar' 'Uruguay' 'Jersey'
 'Central African Republic' 'Cyprus' 'Colombia' 'Guernsey' 'Kuwait'
 'Nigeria' 'Maldives' 'Venezuela' 'Slovakia' 'Fiji' 'Kazakhstan'
 'Pakistan' 'Indonesia' 'Lebanon' 'Philippines' 'Senegal' 'Seychelles'
 'Azerbaijan' 'Bahrain' 'New Zealand' 'Thailand' 'Dominican Republic'
 'Macedonia' 'Malaysia' 'Armenia' 'Japan' 'Sri Lanka' 'Cuba' 'Cameroon'
 'Bosnia and Herzegovina' 'Mauritius' 'Comoros' 'Suriname' 'Uganda'
 'Bulgaria' "Cote d'Ivoire" 'Jordan' 'Syrian Arab Republic' 'Singapore'
 'Burundi' 'Saudi Arabia' 'Viet Nam' 'Palau' 'Qatar' 'Egypt' 'Peru'
 'Malta' 'Malawi' 'Ecuador' 'Madagascar' 'Iceland' 'Uzbekistan' 'Nepal'
 'Bahamas' 'Macao' 'Togo' 'Taiwan' 'Djibouti' 'Sao Tome and Principe'
 'Saint Kitts and Nevis' 'Ethiopia' 'Iraq' 'Honduras' 'Rwanda' 'Cambodia'
 'Monaco' 'Bangladesh' 'Isle of Man' 'Tajikistan' 'Nicaragua' 'Benin'
 'Virgin Islands' 'Tanzania' 'Gabon' 'Ghana' 'East Timor' 'Guadeloupe'
 'Kenya' 'Liechtenstein' 'Guinea-Bissau' 'Montenegro' 'Mayotte'
 'Faroe Islands' 'Myanmar' 'Panama' 'Burkina Faso'
 'Libyan Arab Jamahiriya' 'Mali' 'Namibia' 'Bolivia' 'Paraguay' 'Barbados'
 'Aruba' 'Anguilla' 'El Salvador' 'Dominica' 'French Polynesia' 'Guyana'
 'Saint Lucia' 'Antarctica' 'Guatemala' 'American Samoa' 'Mauritania'
 'New Caledonia' 'Kiribati' 'Sudan' 'French Southern Territories'
 'Sierra Leone']
Unique values for column 'Deposit Type': ['No Deposit' 'Refundable' 'Non Refundable']
Unique values for column 'Status': ['Check-Out' 'Canceled' 'No-Show']

### Univariate Analysis